body {
    font-family: Arial, sans-serif;
}

#cy {
    background-color: white;
    border-radius: 4px;
    margin-top: 20px;
    border: 1px solid black;
}

.estado-actual {
    background-color: orange !important;
    border-color: red !important;
    border-width: 4px !important;
}

textarea, input {
    margin: 10px 0;
}